.floatable(@side){
    float: @side;
    clear: none;
}


.resetul() {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    li, li li, li li li {
        display: block;
        margin: 0;
        padding: 0;
    }
    ul, ul ul, ul ul ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    a, a a, a a a {
        display: block;
    }
}

.resetul-in() {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    li, li li, li li li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    ul, ul ul, ul ul ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
    a, a a, a a a {
        display: inline-block;
    }
}
.borders(@color){
    border: 1px solid @color;
}
.borders-special(@color, @t, @r, @b, @l){
    border: 1px solid @color;
    border-width: @t @r @b @l;
}
.border(@side,@size,@color) when (@side=top){
    border-top: @size solid @color;
}
.border(@side,@size,@color) when (@side=left){
    border-left: @size solid @color;
}
.border(@side,@size,@color) when (@side=right){
    border-right: @size solid @color;
}
.border(@side,@size,@color) when (@side=bottom){
    border-bottom: @size solid @color;
}


.bgc(@color) {
    background-color: @color;
}
.bgimgr(@img,@rep) when (@rep=x){
    background-image: url("@{imgpath}/@{img}");
    background-repeat: repeat-x;
}
.bgimgr(@img,@rep) when (@rep=y){
    background-image: url("@{imgpath}/@{img}");
    background-repeat: repeat-y;
}
.bgimgr(@img,@rep) when (@rep=r){
    background-image: url("@{imgpath}/@{img}");
    background-repeat: repeat;
}

.bgimgs(@img,@x,@y){
    background-image: url("@{imgpath}/@{img}");
    background-repeat: no-repeat;
    background-position: @x @y;
}

.bgimg(@img){
    background-image: url("@{imgpath}/@{img}");
    background-repeat: no-repeat;
}

.rbgimg(@img){
    background-image: url("@{imgpath}/@{img}");

    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
        only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-device-pixel-ratio: 1.5) {

        background-image: url("@{imgpath}/2x@{img}");
        background-size: 100% 100%;
        background-repeat: no-repeat;

   }

    background-repeat: no-repeat;
}

.box-szad(@poziom,@pion,@blur,@spred,@color){
    box-shadow: @poziom @pion @blur @spred @color;
    -webkit-box-shadow: @poziom @pion @blur @spred @color;
    -moz-box-shadow: @poziom @pion @blur @spred @color;
}

.box-szad-inset(@poziom,@pion,@blur,@spred,@color){
    box-shadow: inset @poziom @pion @blur @spred @color;
    -webkit-box-shadow: inset @poziom @pion @blur @spred @color;
    -moz-box-shadow: inset @poziom @pion @blur @spred @color;
}

.radius-level(@level,@px) when (@level=top)
{
    border-top-left-radius: @px;
    border-top-right-radius: @px;
    -moz-border-top-left-radius: @px;
    -moz-border-top-right-radius: @px;
    -webkit-border-top-left-radius: @px;
    -webkit-border-top-right-radius: @px;
}

.radius-level(@level,@px) when (@level=bottom)
{
    border-bottom-left-radius: @px;
    border-bottom-right-radius: @px;
    -moz-border-bottom-left-radius: @px;
    -moz-border-bottom-right-radius: @px;
    -webkit-border-bottom-left-radius: @px;
    -webkit-border-bottom-right-radius: @px;
}
.radius-special(@tr, @br, @bl, @tl)
{
    border-top-left-radius: @tl;
    border-top-right-radius: @tr;
    -moz-border-top-left-radius: @tl;
    -moz-border-top-right-radius: @tr;
    -webkit-border-top-left-radius: @tl;
    -webkit-border-top-right-radius: @tr;
    border-bottom-left-radius: @bl;
    border-bottom-right-radius: @br;
    -moz-border-bottom-left-radius: @bl;
    -moz-border-bottom-right-radius: @br;
    -webkit-border-bottom-left-radius: @bl;
    -webkit-border-bottom-right-radius: @br;
}

.radius(@px){
    border-radius: @px;
    -moz-border-radius: @px;
    -webkit-border-radius: @px;
}

.s(@w){
    width: @w;
    height:@w;
}
.s(@w,@h){
    width: @w;
    height:@h;
}

.max-s(@w){
    max-width: @w;
    max-height: @w;
}

.max-s(@w,@h){
    max-width: @w;
    max-height: @h;
}

.min-s(@w){
    min-width: @w;
    min-height: @w;
}

.min-s(@w,@h){
    min-width: @w;
    min-height: @h;
}

.center(){
    margin-left: auto;
    margin-right: auto;
}

.text-szad(@poziom,@pion,@blur,@color){
    text-shadow: @poziom @pion @blur @color;
}

.ff(@fontname, @filename, @path: @imgpath) {
    @font-face{
        font-family: @fontname;
        src: url("@{path}/fonts/@{filename}.eot");
        src: local("@{fontname}"),
            url('@{path}/fonts/@{filename}.eot?#iefix') format('embedded-opentype'),
            //url('@{path}/fonts/@{filename}.woff') format('woff'),
            url('@{path}/fonts/@{filename}.ttf') format('truetype'),
            url('@{path}/fonts/@{filename}.svg#@{fontname}') format('svg'),
            url("@{path}fonts/@{filename}.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}

.gradient(@color,@color2) {
    background: @color1; /* Old browsers */
    background: -moz-linear-gradient(top, @color1 0%, @color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @color1 0%,@color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @color1 0%,@color2 100%); /* IE10+ */
    background: linear-gradient(to bottom, @color1 0%,@color2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-9 */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color}', endColorstr='@{color}',GradientType=0 ); /* IE6-9 */
}

.bsbb() {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.tableradius(@px) {
    border-collapse: separate;
    tr:first-child td:first-child {
        -moz-border-radius-topleft:@px;
        -webkit-border-top-left-radius:@px;
        border-top-left-radius:@px;
    }
    tr:first-child td:last-child {
        -moz-border-radius-topright:@px;
        -webkit-border-top-right-radius:@px;
        border-top-right-radius:@px;
    }
    tr:last-child td:first-child {
        -moz-border-radius-bottomleft:@px;
        -webkit-border-bottom-left-radius:@px;
        border-bottom-left-radius:@px;
    }
    tr:last-child td:last-child {
        -moz-border-radius-bottomright:@px;
        -webkit-border-bottom-right-radius:@px;
        border-bottom-right-radius:@px;
    }
}

.ib(){
    display: inline-block;
    vertical-align: top;
}

.pos(@top, @right, @bottom, @left){
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}


.transitions(){
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.transitions(@type) when (@type=none){
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.transitions(@type){
    -webkit-transition: @type 0.3s ease-in-out;
    -moz-transition: @type 0.3s ease-in-out;
    -ms-transition: @type 0.3s ease-in-out;
    -o-transition: @type 0.3s ease-in-out;
    transition: @type 0.3s ease-in-out;
}

.transitions(@type, @time){
    -webkit-transition: @type @time ease-in-out;
    -moz-transition: @type @time ease-in-out;
    -ms-transition: @type @time ease-in-out;
    -o-transition: @type @time ease-in-out;
    transition: @type @time ease-in-out;
}

.transitions(@type, @time, @easing){
    -webkit-transition: @type @time @easing;
    -moz-transition: @type @time @easing;
    -ms-transition: @type @time @easing;
    -o-transition: @type @time @easing;
    transition: @type @time @easing;
}

.chevron(@side,@btop,@bright,@bbottom,@color) when (@side=right){
    &:before {
        border-top: @btop solid @color;
        border-left: @bright solid transparent;
    }
    &:after {
        border-bottom: @bbottom solid @color;
        border-left: @bright solid transparent;
        bottom: 0;
    }
}
.chevron(@side,@btop,@bleft,@bbottom,@color) when (@side=left){
    &:before {
        border-top: @btop solid @color;
        border-right: @bleft solid transparent;
    }
    &:after {
        border-bottom: @bbottom solid @color;
        border-right: @bleft solid transparent;
        bottom: 0;
    }
}
.flex-position(@vert, @hor, @dir){
    display: flex;
    justify-content: @hor;
    align-items: @vert;
    flex-direction: @dir;
}

.stroke(@stroke-color, @width){
  text-shadow:
    @width*-1px @width*-1px 0 @stroke-color,
    @width @width*-1px 0 @stroke-color,
    @width*-1px @width 0 @stroke-color,
    @width @width 0 @stroke-color;
}

.stroke(@stroke-color){
  .stroke(@stroke-color, 1px)
}
