.wcag-clip {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* for IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.the-tabs{
    .the-tabs-switch{
        margin: 0 30px 45px 30px;

        li {
            margin-bottom: 15px;
            a {
                display: block;

                &:after {
                    content: '';
                    margin-top: 15px;
                    height: 3px;
                    display: block;
                    width: 0;
                    transition: all 0.3s ease-in;
                }
            }

            &.active a, a:hover{
                &:after {
                    width: 100%;
                    background-color: #CCC;
                }
            }
        }
    }

    .the-tabs-content{
        .the-tab-pane{
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            &.active{
                display: block;
                opacity: 1;

                text-decoration: underline;

                &:after{
                    background-color: #CCC;
                    width: 100%;
                }
            }
        }
    }
}

#sideNav {
  transform: translateX(100%);
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  overflow-x: hidden;

  .transitions(transform);
  padding: 0;
  z-index: 9999;
  &.expanded {
    transform: translateX(0);
    .closebtn {
      display: block;
      opacity: 1;
      line-height: 36px;
      padding: 0;
      text-align: center;
    }
  }

  a {
    padding: 10px 0;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 5px 15px;
  }
  .closebtn {
    opacity: 0;
    display: none;
    .transitions(opacity, 1s);
    position: absolute;
    top: 0;
    right: -65px;
    font-size: 27px;
    font-weight: bold;
  }
}

body {
  &.off-canvas {
    main {
      transform: translateX(-50%);
    }
    #sideNav {
      transform: translateX(0);
    }
  }
}

.hamburger {
  position: fixed;

  left: 30px;
  top: 15px;

  padding: 8px 8px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-transform: none;
  .radius(35px);
  .s(55px);
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 100;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 48em) {
    display: block;
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin-top: 8px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &::before {
    width: 40px;
    height: 4px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    content: "";
    display: block;
    top: -10px;
  }
  &::after {
    width: 40px;
    height: 4px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    content: "";
    display: block;
    bottom: -10px;
  }
}

.hamburger--3dx {
  .hamburger-box {
    perspective: 80px;
  }
  .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    &::before {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

.hamburger--3dx.is-active {
  .hamburger-inner {
    background-color: transparent;
    transform: rotateY(180deg);
    &::before {
      transform: translate3d(0, 10px, 0) rotate(45deg);
    }
    &::after {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
    }
  }
}
